@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600');

/* Estilos base para todos los elementos del documento */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Estilos para el cuerpo del documento */
body {
    height: 100vh;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,115,0,1) 100%);
}

/* Estilos para la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
<<<<<<< HEAD
    height: 100%;
    width: 60px; /* Ancho inicial de la barra lateral */
=======
    height: 100%;
    width: 80px;
>>>>>>> 3e985b2e0143a30803b93067f3f90999e1266c46
    display: flex;
    align-items: center;
    flex-direction: column;
<<<<<<< HEAD
    background: rgba(255, 255, 255, 0.2);
=======
>>>>>>> 3e985b2e0143a30803b93067f3f90999e1266c46
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(10px);
    transition: width 0.3s ease;
<<<<<<< HEAD
    z-index: 100; /* Asegura que la barra lateral esté sobre los botones de redes sociales */
=======
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con transparencia */
>>>>>>> 3e985b2e0143a30803b93067f3f90999e1266c46
}

/* Ancho de la barra lateral al pasar el ratón */
.sidebar:hover {
    width: 180px;
}

/* Estilos para el logotipo dentro de la barra lateral */
.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    padding: 25px 0; /* Ajusta el espaciado superior e inferior */
=======
    padding: 35px 60px 15px;
>>>>>>> 3e985b2e0143a30803b93067f3f90999e1266c46
}

/* Estilos para la imagen del logotipo */
.logo img {
<<<<<<< HEAD
    width: 40px; /* Tamaño de la imagen del logotipo */
    border-radius: 50%; /* Asegura que la imagen del logotipo sea circular */
=======
    width: 64px;
    border-radius: 10%;
>>>>>>> 3e985b2e0143a30803b93067f3f90999e1266c46
}

/* Estilos para el texto del logotipo */
.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

/* Mostrar el texto del logotipo al pasar el ratón */
.sidebar:hover .logo h2 {
    display: block;
}

/* Estilos para los enlaces dentro de la barra lateral */
.sidebar .links {
    list-style: none;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px); /* Ajusta la altura para evitar que los iconos choquen */
}

/* Ocultar la barra de desplazamiento */
.sidebar .links::-webkit-scrollbar {
    display: none;
}

/* Estilos para los elementos de la lista de enlaces */
.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 15px; /* Reduce el margen inferior para separar los elementos */
}

/* Estilos para los iconos de la barra lateral */
.links li i {
    margin-right: 15px; /* Ajusta el margen derecho de los iconos */
    font-size: 1.5rem; /* Tamaño de los iconos */
}

/* Estilos para los enlaces de la barra lateral */
.links li a {
    padding: 10px;
    color: #000;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

/* Mostrar los enlaces al pasar el ratón */
.sidebar:hover .links li a {
    display: block;
}

/* Estilos para el enlace de cierre de sesión */
.links .logout-link {
    margin-top: 20px;
}
/* Estilos para los elementos de la lista de enlaces al pasar el mouse */
/* Estilos para los elementos de la lista de enlaces al pasar el mouse */
.links li:hover {
    background-color: #000; /* Cambia el color de fondo al pasar el mouse */
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

/* Estilos para el texto de los enlaces al pasar el mouse */
.links li:hover a {
    color: #fff; /* Cambia el color del texto al pasar el mouse */
    transition: color 0.3s ease; /* Agrega una transición suave */
}

/* Estilos para los iconos de los enlaces al pasar el mouse */
.links li:hover i {
    color: #fff; /* Cambia el color del icono al pasar el mouse */
    transition: color 0.3s ease; /* Agrega una transición suave */
}

/* Estilos para el texto de los enlaces */
.links li a {
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.3s ease; /* Agrega una transición suave */
}
