<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conferencias | Rincon del Cachimbo</title>
    <link rel="stylesheet" href="../Estilo/Iconos.css">
    <link rel="stylesheet" href="../Estilo/Conferencia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
            rel="stylesheet"
            type='text/css'
        >
    
  </head>
  <body>
    <header class="cabecera">
        <h1>Conferencias</h1>
    </header>
    <aside class="sidebar">
        <div class="logo">
            <img src="../Imagenes/logo.png" alt="logo">
            <h2>El Ricón del cachimbo</h2>
        </div>
        <ul class="links">
            <h4>Menu Principal</h4>
            <li>
                <i class="fas fa-home"></i> <!-- Se corrigió la clase de los iconos -->
                <a href="./inicio sin btn.html">Inicio</a>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <a href="/templates/calendario.html">Calendario</a>
            </li>
            <h4>Universidad</h4>
            <li>
                <i class="fas fa-graduation-cap"></i>
                <a href="#">Facultades</a>
            </li>
            <li>
                <i class="fas fa-futbol"></i>
                <a href="#">Deportes</a>
            </li>
            <li>
                <i class="fas fa-users"></i></i>
                <a href="./seminario.html">Seminarios</a>
            </li>
            <li>
                <i class="far fa-calendar-alt"></i>
                <a href="#">Eventos</a>
            </li>
            <li>
                <i class="fas fa-comments"></i>
                <a href="./Conferencias.html">Conferencia</a>
            </li>
            <li>
                <i class="fas fa-tools"></i>
                <a href="./Talleres.html">Talleres</a>
            </li>
            <h4>Cuenta</h4>
            <li>
                <i class="fas fa-user-circle"></i>
                <a href="/templates/Perfil.html">Perfil</a>
            </li>
            <li>
                <i class="fas fa-bell"></i>
                <a href="/templates/Notificaciones.html">Notificaciones</a>
            </li>
            <li class="logout-link">
                <i class="fas fa-sign-out-alt"></i>
                <a href="/templates/inicio.html">Cerrar Sesión</a><!-- Colocar la pagina inicial que creara willy-->
            </li>
        </ul>
    </aside>
    <div class="background">
        <div class="centering">
            <div class="articles">
                <article>
                    <figure>
                        <img
                            src="https://www.unfv.edu.pe/vrin/images/actividades/VRIN/2023/CongresoInternacional2.jpg"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 1</h2>
                        <p>
                            El Vicerrectorado de Investigación, a través
                            del Instituto Central de Gestión de la Investigación,
                            con el fin de promover e incentivar la investigación científica
                            en nuestro país, organizará entre...
                            <a href="https://www.unfv.edu.pe/vrin/index.php/mod-icegi/actividades-icegi/item/789-i-congreso-de-investigacion-cientifica-federico-villarreal"
                            class="read-more" target="_blank" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>            
                    <figure>
                        <img
                            src="https://img1.wsimg.com/isteam/ip/175c0c32-d5b1-46fd-a399-6f642b4711f1/Flyer-20-Y-21-1-1024x1024.png/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1280"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 2</h2>
                        <p>
                            El Capítulo de Ingeniería Electrónica del Colegio de Ingenieros
                            el Perú-CDLIMA y la Universidad Nacional Federico Villarreal,
                            junto con el Vicerrectorado de Investigación y la Oficina Central de Innovación 
                            <a href="https://tekperu.com.pe/noticias/f/conferencia-en-la-unfv"
                             class="read-more" target="_blank" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img
                            src="https://scontent.flim1-2.fna.fbcdn.net/v/t39.30808-6/299754656_1556087831511313_5398161862890836207_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=SAsicf3ARTgAb7af55i&_nc_ht=scontent.flim1-2.fna&oh=00_AfBLnrLhq2tHsaD_NLreueY9BilDbk6Y_1NTKRSScMtTmw&oe=6626224A"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 3</h2>
                        <p>
                            El Centro Universitario de Responsabilidad Social
                            organiza la conferencia RESPONSABILIDAD SOCIAL UNIVERSITARIA
                            BAJO EL ENFOQUE DE LOS OBJETIVOS DEL DESARROLLO SOSTENIBLE. 
                            <br>
                            <br>

                            <a href="https://www.facebook.com/UNFV.EDU/photos/a.364889350631173/1556087834844646/?type=3"
                             class="read-more" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img
                            src="https://badbit.org/wp-content/uploads/sites/34/2022/02/WhatsApp-Image-2022-02-22-at-9.15.29-AM.jpeg"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 4</h2>
                        <p>
                            El día de mañana daré una plática sobre cine
                            y literatura para estudiantes de licenciatura
                            en la Universidad Nacional Federico Villarreal
                            de Perú.
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="https://badbit.org/invitacion-conferencia-sobre-cine-y-literatura-en-universidad-nacional-federico-villarreal/" 
                                class="read-more" title="Leer más">
                                    Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>            
                    <figure>
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-paradise-island-with-beach-sea_74190-1023.jpg?w=1800&t=st=1687169691~exp=1687170291~hmac=7a65a4e5b2eb374e94e17fd7fb2ab0d1b7b7aaf83078cd62ed5d0a84b66d5beb"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 5</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                            Lorem ipsum dolor Te amo Omen (este mensaje se perdera espero) sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                            <a href="#" class="read-more" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img
                            src="https://elmen.pe/wp-content/uploads/2021/09/6-3-2.jpeg"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 6</h2>
                        <p>
                            Con la participación de destacados expertos de todo el mundo,
                            el miércoles 22 y jueves 23 de setiembre se realizará la 7ª 
                            Conferencia Internacional sobre Tecnologías de Ingeniería y 
                            Computación Ecológicas 2021 (ICGCET-2021) <br/>
                            <a href="https://elmen.pe/universidad-villarreal-realizara-conferencia-internacional-sobre-tecnologia/" 
                            class="read-more" target="_blank" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img
                            src="https://img.freepik.com/free-photo/view-mountains-landscape-huesca_1398-5217.jpg?w=2000&t=st=1687169991~exp=1687170591~hmac=aa445998f8b6570cab3abc9d68853ab80ba944475fcbc05c70c6061f967ab9f7"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia7</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                            <a href="#" class="read-more" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>            
                    <figure>
                        <img
                            src="https://img.freepik.com/free-photo/beautiful-shot-snowy-hill-surrounded-by-mountains-with-light-pink-sky_181624-4102.jpg?w=2000&t=st=1687169963~exp=1687170563~hmac=b811dc16315ec7776b847588539208c1d57e43df80f7319aeb9b55ed7322784b"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 8</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                            <a href="#" class="read-more" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
                <article>
                    <figure>
                        <img
                            src="https://img.freepik.com/free-photo/beautiful_1203-2633.jpg?w=2000&t=st=1687169925~exp=1687170525~hmac=4e1fdddf8ca048eaa100d431639d165f115cd16cea95feff591fbecdc3b28d4c"
                            alt="Preview"
                        >
                    </figure>
                    <div class="article-preview">
                        <h2>Conferencia 9</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                            <a href="#" class="read-more" title="Leer más">
                                Leer más
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
  </body>
</html>
