<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/facuydepo/Proyecto.hackaton/Estilo/style.css">
</head>
<body>

    <header class="header"> 
        <div class="menu container">
            <a href="#" class="facu">FACULTADES</a>
            <imput type="checkbox" id="menu"/>
            <label for="menu">
              <img src="/facuydepo/Proyecto.hackaton/Imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Notificacion</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Inicio</a></li>
                </ul>        
            </nav>

        <div class="header-content container">
            <h1> UNIVERSIDAD </h1>
            <p>Ubicada en Lima, Perú, es una institución emblemática de la educación superior en el país.
                Fundada en 1963, lleva el nombre del destacado educador Federico Villarreal,
                y desde entonces se ha comprometido con la formación integral de profesionales en diversas áreas del conocimiento.
            </p>        
        </div>
   
    </header>

</body>
    <div class="contenedor-acordeon">
        
        <h2>Facultades</h2>
        <div class="acordeon">
            <input type="radio" name="acordeon" id="btn-acordeon1" class="btn-acordeon">
            <label for="btn-acordeon1">
                CIENCIAS DE LA EMPRESA
            </label>
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                    </figure>
                    <div class="contenido">
                        <h3>Facultad de Adminitración</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                            Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                            <a href="#">Mas información</a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                        </figure>
                        <div class="contenido">
                            <h3>Facultad de Ciencias Economicas</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                                Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                                <a href="#">Mas información</a>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                </figure>
                <div class="contenido">
                    <h3>Facultad de Ciencias Financieras y Contables</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                        Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                        <a href="#">Mas información</a>
    </div>
    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon2" class="btn-acordeon">
        <label for="btn-acordeon2">
            CIENCIAS SOCIALES Y HUMANAS
        </label>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                </figure>
                <div class="contenido">
                    <h3>Facultad de Ciencias Sociales</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                        Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                        <a href="#">Mas información</a>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                    </figure>
                    <div class="contenido">
                        <h3>Facultad de Derecho y Ciencia Política</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                            Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                            <a href="#">Mas información</a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                        </figure>
                        <div class="contenido">
                            <h3>Facultad de Humanidades</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                                Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                                <a href="#">Mas información</a>
                        </div>
                    </div>

    </div>
    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon3" class="btn-acordeon">
        <label for="btn-acordeon3">
            INGENIERÍAS Y CIENCIAS NATURALES
        </label>
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                    </figure>
                    <div class="contenido">
                        <h3>Facultad de Ingeniría Industrial y de Sistemas</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                            Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                            <a href="#">Mas información</a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                        </figure>
                        <div class="contenido">
                            <h3>Facultad de Ingeniría Electronica e Informatica</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                                Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                                <a href="#">Mas información</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card">
                            <figure>
                                <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                            </figure>
                            <div class="contenido">
                                <h3>Facultad de Arquitectura y Urbanismo</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                    Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                                    Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                                    <a href="#">Mas información</a>
                            </div>
                        </div>
    </div>
    <div class="acordeon">
        <input type="radio" name="acordeon" id="btn-acordeon4" class="btn-acordeon">
        <label for="btn-acordeon4">
            CIENCIAS DE LA SALUD
        </label>
        <div class="container">
            <div class="card">
                <figure>
                    <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                </figure>
                <div class="contenido">
                    <h3>Facultad de Medicina</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                        Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                        <a href="#">Mas información</a>
                </div>
            </div>
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                    </figure>
                    <div class="contenido">
                        <h3>Facultad de Odontología</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                            Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                            <a href="#">Mas información</a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <figure>
                            <img src="https://i.pinimg.com/originals/a8/e3/9b/a8e39b287c7cd7af410dc230c36c226f.jpg">               
                        </figure>
                        <div class="contenido">
                            <h3>Facultad de Tecnología Médica</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Modi repudiandae quasi perferendis doloremque error, facere corrupti nemo! 
                                Vel dignissimos id culpa impedit animi, esse dolorem perspiciatis? Nulla, nisi. Eum, nostrum!</p>
                                <a href="#">Mas información</a>
                        </div>
                    </div>
    </div>

    <script>
        const checkboxes = document.querySelectorAll('.btn-acordeon1');
    
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const container = this.nextElementSibling;
                if (this.checked) {
                    container.style.maxHeight = container.scrollHeight + 'px';
                } else {
                    container.style.maxHeight = 0;
                }
            });
        });
    </script>
    
    
</html>