<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones | El Rincon del Cachimbo</title>
    <style>
        h1{
            text-align: center;
            color: brown;
            
        }
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Te amo Sage 😍 </h1>
    <div>
    <img src="https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt8a627ec10b57f4f2/5eb7cdc16509f3370a5a93b7/V_AGENTS_587x900_sage.png" 
    alt="SagelofU">
    </div>
</body>
</html>