<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Ricón del cachimbo</title>
    <!-- Se corrigió la URL de la fuente de Material Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Estilo/seminario.css">
    <link rel="stylesheet" href="../Estilo/seminario.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<header class="header">
    <div class="menu__wrapper">
        <div class="menu__bar">
            <a href="#" title="Home" aria-label="home" class="logo">
                <img src="/Imagenes/logokchimbo64.ico" alt="logo">
            </a>
            <nav>
                <ul class="navigation hide">
                    <li>
                        <a href="../templates/inicio.html" title="Inicio">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/templates/calendario.html" title="Calendario">
                            Calendario
                        </a>
                    </li>
                    <li>
                        <a href="/templates/facultades.html" title="Facultades">
                            Facultades
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Deporte.html" title="Deportes">
                            Deportes
                        </a>
                    </li>
                    <li>
                        <a href="/templates/seminario.html" title="Seminarios">
                            Seminarios
                        </a>
                    </li>
                    <li>
                        <a href="/templates/eventos.html" title="Eventos">
                            Eventos
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Conferencias.html" title="Conferencia">
                            Conferencia
                        </a>
                    </li>
                </ul>
            </nav>
</header>

<body>
    <h1>SEMINARIOS</h1><br>

    <div>
        <ul class="social-buttons">
            <li class="facebook"><a
                    href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:3000/templates/seminario.html"
                    target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li class="whatsapp"><a href="whatsapp://send?text=http://127.0.0.1:3000/templates/seminario.html#"
                    target="_blank"><i class="fab fa-whatsapp"></i></a></li>
            <li class="linkedin"><a
                    href="https://www.linkedin.com/sharing/share-offsite/?url=http://127.0.0.1:3000/templates/seminario.html#"
                    target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li class="twitter"><a
                    href="https://twitter.com/intent/tweet?url=http://127.0.0.1:3000/templates/seminario.html#"
                    target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    </div>
    <div class="container">
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/8/a/8/a/event_496715466.webp?w=256" alt="">
            </figure>
            <div class="contenido">
                <h3>Bootcamp - MS Dynamics 365 Fundamentals (ERP)</h3>
                <p>Pronto.. DAY Wednesday, May 8, 20246:00 PM to 9:00PM GMT-5</p>
                <a href="https://www.meetup.com/cloudexpertsc/events/300630286/?recId=2f6d999f-8b2e-401b-ab36-5406a313e88b&recSource=keyword_search&searchId=65d0744b-f7d2-4d1d-a2e2-3b8f8e4b6746">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/6/a/d/e/600_520407358.webp?w=384" alt="">
            </figure>
            <div class="contenido">
                <h3>Técnicas de Facilitación Visual para Potenciar la Innovación</h3>
                <p>¡Desata tu creatividad! Webinar gratuito: Técnicas de Facilitación Visual para la Innovación
                    ¿Eres un líder que busca impulsar la innovación en tu equipo?
                    ¡Entonces este webinar es para ti!
                    "</p>
                <a href="https://www.meetup.com/nave-lab/events/300417192/?recId=0577771d-bd32-4cf5-ba9b-99a9c0bc9d0f&recSource=keyword_search&searchId=18507ec3-2d6b-4dc9-9214-bcd264220253">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/a/a/b/9/600_516283705.webp?w=384" alt="">
            </figure>
            <div class="contenido">
                <h3>Silicon Valley Business Networking (Online)</h3>
                <p>This event is organized in collaboration with many groups!

                    Organizational Sponsor:

                    Startup House

                    Need a place to stay short term in Silicon Valley?

                    Stay at Startup House in Palo Alto</p>
                <a href="https://www.meetup.com/lima-startup-idea-to-ipo/events/300315704/?recId=133941f7-685f-4cfb-bb8f-176e692bc292&recSource=keyword_search&searchId=9b1199f1-fdac-4a07-94ab-31cff5fc4016">Leer Más</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/5/2/1/f/600_520521023.webp?w=384" alt="">
            </figure>
            <div class="contenido">
                <h3>Robotica y automatización en la nube de AWS</h3>
                <p>📢 Evento presencial:
                    📢 AWS en Directo: Robotica y automatización en la nube de AWS

                    💡IMPORTANTE Directo será vía: Sábado 11 de mayo a las 2:00 PM !!!
                    🔥 GIVEAWAY: Créditos de AWS 🔥 Catering para compartir</p>
                <a href="https://www.meetup.com/awsperu/events/300364542/?recId=245b9cfc-4d49-4e53-ab1f-8f2f654ce611&recSource=keyword_search&searchId=1cc057f9-1634-4064-ad11-e2967790af40">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/d/3/1/9/600_520314041.webp?w=384" alt="">
            </figure>
            <div class="contenido">
                <h3>Optimizando la Gestión del Cliente en la Mesa de Servicio con IA</h3>
                <p>¡Descubre el futuro de la gestion del soporte a tu cliente con nuestro webinar "Optimizando la
                    Gestión del Cliente en la Mesa de Servicio con IA"! Únete a Herzum, consultora internacional de IT
                    especializada en Agile y DevOps, el 30 de abril a las 3 pm (Bogota), para una sesión exclusiva y
                    llena de ejemplos practicos.

                    En esta sesión en vivo, exploraremos cómo la combinación de automatización e inteligencia artificial
                    puede transformar por completo la forma en que las empresas gestionan su atención al cliente.</p>
                <a href="https://www.meetup.com/empresa-agile-y-tecnologia-con-herzum-ecuador/events/300333162/?recId=61f06343-7835-4693-9357-186faf7e01ef&recSource=keyword_search&searchId=62655f22-c03e-4ebd-a0da-4096259d14de">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="https://secure.meetupstatic.com/photos/event/e/5/0/0/600_520438624.webp?w=384" alt="">
            </figure>
            <div class="contenido">
                <h3>Facilitación Visual para UX UI: Diseña con empatía</h3>
                <p>Diseña con empatía! Webinar gratuito: Facilitación Visual para UX/UI
                    ¿Eres diseñador/a UX/UI que busca potenciar su creatividad y generar experiencias de usuario
                    memorables?

                    ¡Entonces este webinar es para ti!

                    En este webinar gratuito, te sumergirás en el fascinante mundo de la Facilitación Visual y
                    descubrirás cómo esta poderosa herramienta puede transformar tu proceso de diseño, llevándolo a un
                    nivel superior.</p>
                <a href="https://www.meetup.com/nave-lab/events/300440115/?recId=65f0e6e2-e964-4b37-be4b-45500bf74ee2&recSource=keyword_search&searchId=16769792-83dc-46c0-947e-2c9f66dc86ff">Leer Más</a>
            </div>
        </div>
    </div>
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="#" alt="">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p> nos esforzamos por ser la guía definitiva para estudiantes universitarios.</p> 
                <p>Nuestro compromiso radica en proporcionar información precisa, recursos útiles y consejos prácticos para ayudarte a alcanzar tus metas académicas y profesionales.</p>
                <p>¡Bienvenido a nuestra comunidad educativa!</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 <b>Guia del Kchimbo</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
</body>

</html>
