<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Ricón del cachimbo</title>
    <!-- Se corrigió la URL de la fuente de Material Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link red="stylesheet" href="../Estilo/seminario.css">
</head>
<body>
    <h1>SEMINARIOS</h1><br>
    <div>
        <ul class="social-buttons">
            <li class="facebook"><i class="fab fa-facebook"></i> <a href="#">Facebook</a></li>
            <li class="whatsapp"><i class="fab fa-whatsapp"></i> <a href="#">Whatsapp</a></li>
            <li class="linkedin"><i class="fab fa-linkedin"></i> <a href="#">Linkedin</a></li>
            <li class="twitter"><i class="fab fa-twitter"></i> <a href="#">Twitter</a></li>
        </ul>
    </div>
    </div>
    <div class="container">
        <div class="card">
            <figure>
                <img src="../Imagenes/img seminario prb 1.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Seminario 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo saepe aspernatur ratione, quam excepturi mollitia sequi eius sed illum dicta vitae eaque cum obcaecati, ipsa velit veniam ducimus. Eum, error?</p>
                <a href="#">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../Imagenes/img seminario prb 2.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Seminario 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo saepe aspernatur ratione, quam excepturi mollitia sequi eius sed illum dicta vitae eaque cum obcaecati, ipsa velit veniam ducimus. Eum, error?</p>
                <a href="#">Leer Más</a>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../Imagenes/img seminario prb 3.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Seminario 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo saepe aspernatur ratione, quam excepturi mollitia sequi eius sed illum dicta vitae eaque cum obcaecati, ipsa velit veniam ducimus. Eum, error?</p>
                <a href="#">Leer Más</a>
            </div>
        </div>
    </div>
</body>
<footer>
</footer>
</html>
