<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres | El Rincon del Cachimbo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../Estilo/Talleres.css">
    
</head>
<body>
    <!--aca comienza la barra de navegacion horizontal-->
    <header class="header">
    <div class="menu__wrapper">
        <div class="menu__bar">
            <a href="#" title="Home" aria-label="home" class="logo">
                <img src="/Imagenes/logokchimbo64.ico" alt="logo">
            </a>
            <nav>
                <ul class="navigation hide">
                    <li>
                        <a href="../templates/inicio sin btn.html" title="Inicio">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/templates/calendario.html" title="Calendario">
                            Calendario
                        </a>
                    </li>
                    <li>
                        <a href="/templates/facultades.html" title="Facultades">
                            Facultades
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Deporte.html" title="Deportes">
                            Deportes
                        </a>
                    </li>
                    <li>
                        <a href="/templates/seminario.html" title="Seminarios">
                            Seminarios
                        </a>
                    </li>
                    <li>
                        <a href="/templates/eventos.html" title="Eventos">
                            Eventos
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Conferencias.html" title="Conferencia">
                            Conferencia
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    <!--Aca comienza el titulo y las cards-->
    
    <h1 class="cabecera">
        Talleres
    </h1>

    <main>
        <div class="card">
            <img src="../Imagenes/willy-dylan.jpeg" alt="img1">
                <div class="info">
                    <h1>ZzZ</h1>
                    <p>Momento de ir a dormir</p>
                    <a href="https://www.youtube.com/watch?v=E2t9jUyra7s" target="_blank" class="btn">Saber Más</a>
                </div>
        </div>
        <div class="card">
            <img src="../Imagenes/Willy.png" alt="img2">
                <div class="info">
                    <h1>Willy pirata</h1>
                    <p>wtf? willy pirata?</p>
                    <a href="https://www.youtube.com/watch?v=PPyCavz8nMY" target="_blank" class="btn">Saber Mas</a>
                </div>
        </div>
        <div class="card">
            <img src="../Imagenes/mono morado.png" alt="img3">
                <div class="info">
                    <h1>Mono morado</h1>
                    <p>Este mono en los 2000 fue potente...</p>
                    <a href="https://www.youtube.com/watch?v=abp6sZ2T6tA" target="_blank" class="btn">Saber Más</a>
                </div>
        </div>
    </main>
</body>
</html>