<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres | El Rincon del Cachimbo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../Estilo/Talleres.css">
    
</head>
<body>
    <!--aca comienza la barra de navegacion horizontal-->
    <header class="header">
    <div class="menu__wrapper">
        <div class="menu__bar">
            <a href="#" title="Home" aria-label="home" class="logo">
                <img src="/Imagenes/logokchimbo64.ico" alt="logo">
            </a>
            <nav>
                <ul class="navigation hide">
                    <li>
                        <a href="../templates/inicio sin btn.html" title="Inicio">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="/templates/calendario.html" title="Calendario">
                            Calendario
                        </a>
                    </li>
                    <li>
                        <a href="/templates/facultades.html" title="Facultades">
                            Facultades
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Deporte.html" title="Deportes">
                            Deportes
                        </a>
                    </li>
                    <li>
                        <a href="/templates/seminario.html" title="Seminarios">
                            Seminarios
                        </a>
                    </li>
                    <li>
                        <a href="/templates/eventos.html" title="Eventos">
                            Eventos
                        </a>
                    </li>
                    <li>
                        <a href="/templates/Conferencias.html" title="Conferencia">
                            Conferencia
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    <!--Aca comienza el titulo y las cards-->
    
    <h1 class="cabecera">
        Talleres
    </h1>

    <main>
        <div class="card">
            <img src="../Imagenes/taller-arte1.jpg" alt="img1">
                <div class="info">
                    <h1>CLAUSURA DE TALLERES</h1>
                    <p>
                        Ciclo Regular III 2023
                        Viernes 15 y Sábado 16
                        INGRESO LIBRE, LOS ESPERAMOS!!!</p>
                    <a href="https://www.facebook.com/photo/?fbid=742411517925684&set=a.633705278796309&locale=es_LA"
                     target="_blank" class="btn">Saber Más</a>
                </div>
        </div>
        <div class="card">
            <img src="../Imagenes/musica-taller1.jpg" alt="img2">
                <div class="info">
                    <h1>Talleres de Música</h1>
                    <p>𝗖𝗜𝗖𝗟𝗢 𝗥𝗘𝗚𝗨𝗟𝗔𝗥 𝗜 𝟮𝟬𝟮𝟰 (Mayo - Junio)
                        Duración: 08 semanas
                        Dirigido a jóvenes y adultos.
                        
                        ⚠️𝗜𝗡𝗦𝗖𝗥𝗜𝗣𝗖𝗜𝗢𝗡𝗘𝗦 𝗔𝗕𝗜𝗘𝗥𝗧𝗔𝗦 (inscripción virtual)
                        Hasta el viernes 10 de mayo.</p>
                    <a href="https://www.facebook.com/photo?fbid=834900915343410&set=pcb.831239832376185"
                     target="_blank" 
                     class="btn">Saber Mas</a>
                </div>
        </div>
        <div class="card">
            <img src="../Imagenes/taller-r.jpg" alt="img3">
                <div class="info">
                    <h1>Curso de R</h1>
                    <p>¿Quieres potenciar tus habilidades en ciencia abierta y estadística utilizando R?
                        ¡Entonces este curso es perfecto para ti! 📊💻</p>
                    <a href="https://www.facebook.com/photo/?fbid=931923695601863&set=a.475460614581509"
                     target="_blank" 
                     class="btn">Saber Más</a>
                </div>
        </div>
    </main>
</body>
</html>