<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talleres | El Rincon del Cachimbo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../Estilo/Talleres.css">
    <link rel="stylesheet" href="../Estilo/Iconos.css">
</head>
<body>
    <header class="cabecera">
        <h1>Talleres</h1>
    </header>
    <aside class="sidebar">
        <div class="logo">
            <img src="../Imagenes/logo.png" alt="logo">
            <h2>El Ricón del cachimbo</h2>
        </div>
        <ul class="links">
            <h4>Menu Principal</h4>
            <li>
                <i class="fas fa-home"></i> <!-- Se corrigió la clase de los iconos -->
                <a href="./inicio.html">Inicio</a>
            </li>
            <li>
                <i class="far fa-calendar"></i>
                <a href="#">Calendario</a>
            </li>
            <h4>Universidad</h4>
            <li>
                <i class="fas fa-graduation-cap"></i>
                <a href="#">Facultades</a>
            </li>
            <li>
                <i class="fas fa-futbol"></i>
                <a href="#">Deportes</a>
            </li>
            <li>
                <i class="fas fa-users"></i></i>
                <a href="./seminario.html">Seminarios</a>
            </li>
            <li>
                <i class="far fa-calendar-alt"></i>
                <a href="#">Eventos</a>
            </li>
            <li>
                <i class="fas fa-comments"></i>
                <a href="./Conferencias.html">Conferencia</a>
            </li>
            <li>
                <i class="fas fa-tools"></i>
                <a href="#">Talleres</a>
            </li>
            <h4>Cuenta</h4>
            <li>
                <i class="fas fa-user-circle"></i>
                <a href="/templates/Perfil.html">Perfil</a>
            </li>
            <li>
                <i class="fas fa-bell"></i>
                <a href="/templates/Notificaciones.html">Notificaciones</a>
            </li>
            <li class="logout-link">
                <i class="fas fa-sign-out-alt"></i>
                <a href="/templates/inicio.html">Cerrar Sesión</a>
            </li>
        </ul>
    </aside>
</body>
</html>